.navBar{
    /* display: flex;
    justify-content: space-between; */
    background-color: black;
    opacity: 0.7;
    color: white;
    font-size: 2rem;
    height: 50px;
    padding-top: 30px;
    

}

.ulNav{
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    height: 40px;
    color: white;
    
}

li{
    margin-bottom: 80px;
    color: white;
    list-style: none;
   
  
}
.link1{
    list-style: none;
    text-decoration: none;
}
.liLogo{
   color: #13B2A9; 
  
}

.link1:hover{
    color: #13B2A9;
}
